html{
    background-color:green;
}
body{
    margin:0;
	padding:0;
	overflow:hidden;
}

canvas{
	background-color:black;
	width:100%;
	height:100%;
	transition:all .5s;
}

.roulette {
    
}
.roulette-section {
    display:block;
    width:100%;
    border: 1px solid black;
    height:400px;
    background-color: grey;
}