<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Star Rider</title>
        <link rel="stylesheet" href="/css/style.css">
        <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="/js/scripts.js"></script>
		{{#each scripts}}
			{{#each file}}
		<script src="{{.}}"></script>
			{{/each}}
		{{/each}}
		
    </head>
    
    <body>
        {{{body}}}
    </body>
</html>